
.form {
    padding: 30px 0;
    background-color:$color-primary;
    
    
    .btn-accent {
        
        width: 100%;
        
        color: $color-light;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
    }
    .btn-accent:focus, 
    .btn-accent:hover {
        cursor: pointer;
        border-color:$color-light;
        background-color: $color-accent;
    }
    &__container {
        display: grid;
        grid-gap: $gap;
        
        
        
        max-width: 1340px;
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;
        
        
        @include lg-min {
            grid-template-columns: repeat(3, 1fr);
            
        }
        @include lg-md {
            grid-template-columns: repeat(3, 1fr);
            
        }
        
        @include md-sm {
            grid-template-columns: 1fr 1fr;
            
        }
        @include sm {
            grid-template-columns: 1fr;
            
        }
        
    }
    &-item:nth-of-type(1) {
        @include md-sm {
            
            grid-column: 1 / span 2;
        }
        @include sm {
            grid-column: 1;
            
        }
    }
    
    &-item__input {
        display: block;
        width: 100%;
        height: 60px;
        
        
        padding-right: 30px;
        padding-left: 30px;
        transition: background-color 0.5s, border-color 0.5s;
        letter-spacing: 0.15em;
        color:$color-light;
        border: 2px solid rgba(255, 255, 255, 0);
        border-bottom-color: rgba(255, 255, 255, 0.25);
        background-color: rgba(255, 255, 255, 0.05);
        font-size: 1.125rem;
        
        &::placeholder {
            color: $color-gray;
        }
        &:hover, 
        &:focus {
            border-color: rgba(255, 255, 255, 0.15);
            border-bottom-color: $color-light;
            background-color: rgba(255, 255, 255, 0.15);
        }
        &:hover::placeholder,
        &:focus::placeholder {
            color: #9ba8b6;
        }
    }
}

